:root {
    --preto: #2A2B2A;
    --amarelo: #dba204;
    --amareloTransparente: #dba20488;
    --branco: #ffffff;
}

/* geral */

header, footer {
    background-color: var(--preto);
}

.nav-link, footer {
    color: var(--branco)!important;
}

.nav-link:hover {
    color: var(--amarelo)!important;
    transition: 1s!important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--amarelo);
}

button a {
    text-decoration: none;
    color: var(--branco);
}

button a:hover {
    color: var(--preto);
    transition: 0.5s;
}

/* index */

#bannerSection {
    height: 700px;
    background-image: url(../images/banners/bannerHome.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#infoBanner {
    width: 500px;
    padding: 2rem;
    background-color: var(--amareloTransparente);
    backdrop-filter: blur(3px);
}

#imgObras {
    box-shadow: 6px 6px 6px var(--preto);
}

/* quadros */

#bannerQuadros {
    height: 700px;
    background-image: url(../images/banners/bannerQuadros.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* catálogo */

#bannerCatalogo {
    height: 700px;
    background-image: url(../images/banners/bannerCatalogo.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#infoBannerCatalogo {
    width: 500px;
    padding: 2rem;
    background-color: var(--amareloTransparente);
    backdrop-filter: blur(3px);
}


.card button, #form button, #btnListar {
    background-color: var(--preto);
    color: var(--amarelo);
    border: none;
}

#btnListar:hover {
    background-color: var(--amarelo);
    color: var(--preto);
    transition: 0.5s;
}

.card button:hover, #form button:hover {
    background-color: var(--amarelo);
    color: var(--preto);
    transition: 0.5s;
}

.card button:active, #form button:active {
    background-color: var(--branco)!important;
    color: var(--amarelo)!important;
}

/* sobreNos */

#tabela{
    border: #302727;
    border-radius: 15px ;
    box-shadow: 8px 8px 8px #3027279a;
}

th{
    height: 30px;
    text-align: center;
    background-color: var(--preto)!important;
    color: var(--branco)!important;
}

th:hover{
    background-color: var(--amarelo)!important;
    transition: 0.5s;
}

th:empty{
    border: none!important;
    background-color: transparent!important;
}

th, td{
    text-align: center;
    border: 1px solid black;
}

#horarios td, #horarios th{
    height: 50px;
}

td:hover{
    background-color: #dba20499!important;
    transition: 0.5s;
}

#formulario {
    height: 800px;
    background-image: url(../images/banners/bannerForm.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#formAlinhamento input{
    width: 400px;
    background-color: var(--branco);
}

#formAlinhamento {
    border-radius: 10px;
    border: 2px solid black;
    width: 500px;
    background-color: #2a2b2aab;
}

#form button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}