main {
    background-image: url(../../images/imagesLogin/fundo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#alinhamentoSenha {
    width: 50%;
    height: 600px;
    margin: 170px;
    border-radius: 10px;
    border: 2px solid var(--preto);
    background-color: var(--branco);
}

#alinhamentoSenha form {
    width: 70%;
}

form a {
    text-decoration: none;
    color: var(--preto);
}

form a:hover {
    color: var(--amarelo);
    transition: 0.5s;
}

#botaoSenha button {
    width: 100px;
    background-color: var(--preto);
    color: var(--amarelo);
}

#botaoSenha button:hover {
    background-color: var(--amarelo);
    color: var(--preto);
    transition: 0.5;
}